{%extends 'base.html'%}
{%block content%}
<div class="container mt-5">


    <h2 style="text-align:center;">🔍 Buscar Alimento</h2>
    <form action="/search_food" method="POST">
        <input type="text" name="query" placeholder="Ejemplo: manzana, arroz, pollo..." required>
        <button type="submit">Buscar</button>
    </form>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    {% if foods %}
        <h3>Resultados de la búsqueda:</h3>
        <ul>
            {% for food in foods %}
                <li>
                    <strong>{{ food.food_name }}</strong> - {{ food.serving_size }} - {{ food.calories }} kcal
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{%endblock%}
